body{
	margin-bottom: 80px;
}
.navbar{
	margin: 0;
}
#sec-navbar{
	background-color: #045FB4;
}
.dark_bg{
	color: white;
}
.panel .panel{
	margin-left: 50px;
}
.page-header{
	margin-top: 0;
}
.panel-heading{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}
